<div class="container-fluid">
    <div class="row text-center">
      <div class="jumbotron">
        <h1>Calculadora de salário digno</h1>
        <p class="lead">Você está pagando o suficiente à sua empregada doméstica?</p>
        <p class="small"><a href="{{ site.url }}" target="_blank">Leia mais sobre salários de trabalhadores domésticos <i class="fa fa-external-link-alt"></i></a></p>
      </div>
    </div>
  </div>
      
  <div class="container">
  
    <div class="row" id="row_scroll">
      <div class="col-sm-8 col-sm-offset-2">
  
        <div class="section">
  
          <form id="input-form" role="form">
            <div class="form-group">
              <label class="control-label lead question" for="pay-amount-day">Quanto você paga para sua empregada doméstica?</label><br>
              <div class="row">
                <div class="col-sm-9">
                  <input
                    id="pay-amount"
                    type="text"
                    style="display: none;"/>
                  <div id="outer-pay-amount-day">
                    <input
                        id="pay-amount-day"
                        class="slider"
                        style="width: 100%;"
                        type="text"
                        name="pay-amount"
                        data-slider-min="100"
                        data-slider-max="700"
                        data-slider-step="50"
                        value="700"
                        data-slider-value="700"/>
                  </div>
                  <div id="outer-pay-amount-week">
                    <input
                        id="pay-amount-week"
                        class="slider"
                        style="width: 100%;"
                        type="text"
                        name="pay-amount-week"
                        data-slider-min="500"
                        data-slider-max="3000"
                        data-slider-step="100"
                        value="2500"
                        data-slider-value="3000"/>
                  </div>
                  <div id="outer-pay-amount-month">
                    <input
                        id="pay-amount-month"
                        class="slider"
                        style="width: 100%;"
                        type="text"
                        name="pay-amount-month"
                        data-slider-min="3000"
                        data-slider-max="8000"
                        data-slider-step="100"
                        value="8000"
                        data-slider-value="8000"/>
                  </div>
                </div>
                <div class="col-sm-3">
                  <select class="selectpicker" name="pay-rate" data-width="100%" id="pay-rate">
                    <option value="day" selected>por dia</option>
                    <option value="week">por semana</option>
                    <option value="month">por mês</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
  
          <div class="row">
            <div class="col-sm-12">
              <p class="lead">
               Com esta taxa, você está pagando o equivalente a <strong><span id="output-amount">MZN</span></strong> por mês.
              </p>
            </div>
          </div>
  
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
              <button id="go-button" class="btn btn-primary btn-block btn-lg display-landing"><i class="fa fa-calculator"></i>Calcular despesas</button>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  
  </div>
      
      
  <div class="container display-results display-assumptions" style="display: none;">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
  
        <div class="section" id="results">
  
          <p class="lead">
            This covers <span id="output-percentage" class="label">0%</span> Isto cobre da contribuição do seu trabalhador doméstico para as necessidades mínimas do seu agregado familiar de <strong><span id="output-monthly-need">MZN</span></strong>.
          </p>


  <div class="text-center">

      <div class="social-media-buttons">

          <div id="tweetBtn"> 
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-text="Check if you pay your domestic worker a fair wage" data-via="{{ site.twitter }}" data-hashtags="livingwage" datasize="large">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>

        </div>
      <div class="social-media-buttons">
          <div>
              <!-- Your share button code -->
              <div class="fb-share-button" 
                data-href="{{ site.url }}" 
                data-layout="button_count">
              </div>
            
          </div>
      </div>

    </div>
  
          <p class="lead"><span id="output-statement"></span></p>
  
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
              <button id="show-assumptions-btn" class="btn btn-primary btn-block btn-lg display-results"><i class="fa fa-arrow-circle-down"></i> Mostrar suposicoes</button>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  </div>
      
  <div id="assumption-container" class="container display-assumptions" style="display: none;">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
  
        <div class="assumptions-menu container-fluid">
  
                <div class="col-sm-3 text-center">
  
              <h2>Suposicoes</h2>
  
            </div>
  
            <div class="col-sm-9 text-center">
  
              <p>Nossos calculos sao baseados em: <strong style="display: inline-block;">9 suposicoes</strong>.</p>
  
            </div>
  
        </div>
  
      </div>
    </div>
          <!-- Household Size Panel-->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">      
          <div class="panel panel-default" id="assumption-1">
            <div class="panel-heading" data-toggle="collapse" data-target="#panel-household-size">
              <h4 class="panel-title">
                <span>
                  1. Tamanho da família <span id="household-size-feedback" class="pull-right">... pessoas</span>
                </span>
              </h4>
            </div>
            <div id="panel-household-size" class="panel-collapse collapse in">
              <div class="panel-body">
  
              <div class="row">
  
                  <div class="col-sm-9">
  
                    <div class="form-group">
                      <label for="household-size" class="lead question">Incluindo o seu trabalhador doméstico, <strong> qual é o tamanho do seu agregado familiar</strong>?</label><br>
                      <input
                          id="household-size"
                          class="slider"
                          tooltip="always"
                          type="text"
                          name="household-size"
                          data-slider-min="1"
                          data-slider-max="10"
                          data-slider-step="1"
                          value="2"
                          data-slider-value="2"
                          data-slider-formater="pessoas"/><br>
                    </div>
  
                    </div>
                    <div class="col-sm-3 text-center panel-image">
  
                            <i class="fa fa-users fa-3x"></i>
  
                    </div>
  
                  </div>
  
                <p class="note">
                  Os trabalhadores domésticos são frequentemente consultados para decisões importantes no seio da família, sendo que deles prestam assistência financeira aos seus agregados familiares.
                </p>
                <p class="sources">
                  <strong>Source:</strong> <a href="http://www.kudheiha.org/domestic-workers/">Trabalhos domesticos</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
          <!-- Household Size Panel end-->
  
          <!-- Food Panel -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">      
          <div class="panel panel-default" id="assumption-2">
            <div class="panel-heading" data-toggle="collapse" data-target="#panel-food-expenses">
              <h4 class="panel-title">
                <span>
                  2. Custo dos Alimentos <span id="food-total" class="pull-right">MZN...</span>
                </span>
              </h4>
            </div>
            <div id="panel-food-expenses" class="panel-collapse collapse in">
              <div class="panel-body">
  
                              <div class="row">
  
                                  <div class="col-sm-9">
  
                                          <div class="form-group">
                              <label for="food-cost" class="lead question">Qual você estima serem os <strong>custos diários de alimentação</strong> por pessoa na casa do seu trabalhador doméstico?</label><br>
                              
                              <input
                                  id="food-cost"
                                  class="slider"
                                  enabled="false"
                                  type="text"
                                  name="food-cost"
                                  data-slider-min="5"
                                  data-slider-max="2000"
                                  data-slider-step="10"
                                  value="180"
                                  data-slider-value="180"
                                  data-slider-formater="MZN"/><br>
  
                            </div>
  
                                    </div>
                                    <div class="col-sm-3 text-center panel-image">
  
                                          <i class="fa fa-shopping-cart fa-3x"></i>
  
                                    </div>
  
                              </div>            	
  
                
                <p class="note">Utilizando dados do índice de preços ao consumidor de alimentos (janeiro de 2019) e uma cesta de bens selecionada, <strong>estimamos que o custo médio diário por pessoa para atingir 2.000 calorias é de 180 MZN</strong> (5.400 MZN por mês por pessoa)..</p>
                <p class="note">
                  Não incorporamos o programa de nutrição alimentar ou subsídios de apoio à criança na nossa avaliação. Sentimos que nossos valores ainda são bastante conservadores..
                </p>
                <p class="sources">
                  <strong>Source:</strong> <a href=https://www.facebook.com/sined.org.mz/>Salario Domestico em Mocambique</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
          <!-- Food Panel end -->
  
          <!-- Transportation Panel -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">         
          <div class="panel panel-default" id="assumption-3">
            <div class="panel-heading" data-toggle="collapse" data-target="#panel-transport-expenses">
              <h4 class="panel-title">
                <span>
                  3. Custo de Transporte <span id="transport-total" class="pull-right">MZN...</span>
                </span>
              </h4>
            </div>
            <div id="panel-transport-expenses" class="panel-collapse collapse in">
              <div class="panel-body">
  
                              <div class="row">
  
                                  <div class="col-sm-9">
  
                                          <div class="form-group">
                              <label for="transport-cost" class="lead question">Quanto custa para o seu trabalhador doméstico <strong>chegar ao trabalho</strong>?</label><br>
                              <input
                                  id="transport-cost"
                                  class="slider"
                                  enabled="false"
                                  type="text"
                                  name="transport-cost"
                                  data-slider-min="30"
                                  data-slider-max="200"
                                  data-slider-step="5"
                                  value="50"
                                  data-slider-value="50"
                                  data-slider-formater="MZN"/><br>
                            </div>
                            <div class="form-group">
                              <label for="transport-direction" class="lead question">Esse custo é <strong>unidirecional </strong> ou <strong>ida e volta</strong>?</label><br>
                              <select class="selectpicker" name="transport-direction" id ="transport-direction"><br>
                                <option value="oneway" selected>unidirecional</option>
                                <option value="roundtrip">ida e volta</option>
                              </select>
                            </div>							    
  
                                    </div>
                                    <div class="col-sm-3 text-center panel-image">
  
                                            <i class="fa fa-bus fa-3x"></i>
  
                                    </div>
  
                              </div>
  
                <p class="note">Os custos de viagem são conhecidos por serem elevados para os trabalhadores domésticos. <strong> Assumimos uma necessidade de 50MZN para chegar ao trabalho </strong>, com base nos Índices de Preços ao Consumidor e Taxas de Inflação de janeiro de 2019.
                </p>
                <p class="note">
                 Assumimos o custo de ir de Baixa da Cidade de Maputo a um subúrbio de Maputo como base.  É verdade que podem ser necessárias até duas viagens de micro-ônibus para sair de casa e chegar ao trabalho. Essas viagens custaram entre KSH30-50. Diariamente, isso pode ser 20-50 MZN.
                </p>
                <p class="note">
                 O transporte não é barato em Mocambique (público ou privado) e isso provavelmente é verdade em Maputo.
                   É claro que se a tarifa ou o número de viagens das áreas mais pobres para os centros empregadores urbanos fossem mais baixos, o custo seria menor. Mas também pode ser maior dependendo da distância.
                </p>
  
              </div>
            </div>
          </div>
        </div>
      </div>
          <!-- Transportation Panel end -->
  
          <!-- Rent Panel -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">    
          <div class="panel panel-default" id="assumption-4">
            <div class="panel-heading" data-toggle="collapse" data-target="#panel-rent-expenses">
              <h4 class="panel-title">
                <span>
                  4. Custo de habitação <span id="rent-total" class="pull-right">R...</span>
                </span>
              </h4>
            </div>
            <div id="panel-rent-expenses" class="panel-collapse collapse in">
              <div class="panel-body">
  
                              <div class="row">
  
                                  <div class="col-sm-9">
  
                                          <div class="form-group">
                              <label for="rent-cost" class="lead question">Quanto você estima que sejam (incluindo eletricidade) do seu trabalhador doméstico?<strong> o aluguel e os custos de serviços públicos</strong> (incluindo a eletrecidade)?</label><br>
                              <input
                                  id="rent-cost"
                                  class="slider"
                                  enabled="false"
                                  type="text"
                                  name="rent-cost"
                                  data-slider-min="0"
                                  data-slider-max="1000"
                                  data-slider-step="50"
                                  value="4500"
                                  data-slider-value="8000"
                                  data-slider-formater="MZN"/><br>
                            </div>
  
                                    </div>
                                    <div class="col-sm-3 text-center panel-image">
  
                                            <i class="fa fa-building fa-3x"></i>
  
                                    </div>
  
                              </div>            	
  
                <p class="note">
                  
De um modo geral, as rendas mais elevadas estão associadas a uma melhor prestação de serviços de saneamento e a taxas de criminalidade mais baixas.
                </p>
                <p class="note">
                 Associações com violência e saneamento também foram extraídas destes dados. Nos casos em que a renda não era paga (ou comunicada), presumia-se que o agregado familiar vivia em ambientes informais de risco. Não queremos destacar isso como uma opção residencial.
                </p>
                <p class="sources">
                  <strong>Source:</strong> <a href="https://openafrica.net/dataset/cpi_kenya_2018">CPI Janeiro 2019, MOZ</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
          <!-- Rent Panel end -->
  
          <!-- Health Panel -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">     
          <div class="panel panel-default" id="assumption-5">
            <div class="panel-heading" data-toggle="collapse" data-target="#panel-health-expenses">
              <h4 class="panel-title">
                <span>
                  5. Custo de saúde<span id="health-total" class="pull-right">MZN...</span>
                </span>
              </h4>
            </div>
            <div id="panel-health-expenses" class="panel-collapse collapse in">
              <div class="panel-body">
  
                              <div class="row">
  
                                  <div class="col-sm-9">
  
                            <div class="form-group">
                              <label for="rent-cost" class="lead question">O que é um subsídio mensal razoável para necessidades<strong>healthcare</strong> de saúde?</label><br>
                              <p>
 Estime um subsídio de saúde mensal razoável(por pessoa):</p>
                              <input
                                  id="health-cost"
                                  class="slider"
                                  enabled="false"
                                  type="text"
                                  name="health-cost"
                                  data-slider-min="0"
                                  data-slider-max="5000"
                                  data-slider-step="50"
                                  value="550"
                                  data-slider-value="550"
                                  data-slider-formater="MZN"/><br>
                            </div>
  
                                    </div>
                                    <div class="col-sm-3 text-center panel-image">
  
                                            <i class="fa fa-stethoscope fa-3x"></i>
  
                                    </div>
  
                              </div>
  
                <p class="note">
                 Estabelecer um orçamento de saúde para o agregado familiar é muito importante.<strong> As consultas públicas custam 100 MZN por visita e por medicamentos.</strong> Os custos de saúde também podem ser cobertos através de seguro de saúde, que pode custar pelo menos 1500 MZN por mês, por pessoa.
                </p>
                <p class="sources">
                    <strong>Fontes:</strong> <br>
                    <a href="https://www.who.int/choice/country/ken/cost/en/" target="_blank">Escolha de intervenções com boa relação custo-benefício</a><br>
                    <a href="https://calculator.co.ke/nhif-contribution-rates" target="_blank">Taxas de contribuição</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
          <!-- Health Panel end -->
  
          <!-- Education Panel -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">         
          <div class="panel panel-default" id="assumption-6">
            <div class="panel-heading" data-toggle="collapse" data-target="#panel-education-expenses">
              <h4 class="panel-title">
                <span>
                  6. Custo da educação<span id="education-total" class="pull-right">R...</span>
                </span>
              </h4>
            </div>
            <div id="panel-education-expenses" class="panel-collapse collapse in">
              <div class="panel-body">
  
                              <div class="row">
  
                                  <div class="col-sm-9">
  
                                          <div class="form-group">
                              <label for="education-cost" class="lead question">Quanto você estima que sua empregada doméstica gaste para mandar os filhos para a escola?</strong>?</label>
                              <p>Estime o custo por criança em idade escolar: </p>
                              <input
                                  id="education-cost"
                                  class="slider"
                                  enabled="false"
                                  type="text"
                                  name="education-cost"
                                  data-slider-min="0"
                                  data-slider-max="2500"
                                  data-slider-step="100"
                                  value="2500"
                                  data-slider-value="2500"
                                  data-slider-formater="MZN"/><br>
                              </div>
                              <div class="form-group">
                              <label for="education-cost" class="lead question">Quantas crianças em idade escolar há no agregado familiar?</label>
                              
                              <input
                                  id="education-kids"
                                  class="slider"
                                  enabled="false"
                                  type="text"
                                  name="education-kids"
                                  data-slider-min="0"
                                  data-slider-max="10"
                                  data-slider-step="1"
                                  value="1"
                                  data-slider-value="1"
                                  data-slider-formater="Filho"/><br>
                            </div>  
  
                                    </div>
                                    <div class="col-sm-3 text-center panel-image">
  
                                        <i class="fa fa-graduation-cap fa-2x"></i>
                                      <i class="fa fa-child fa-3x"></i> 
  
                                    </div>
  
                              </div>
  
                              <p class="note">
                                  As despesas incluem papelaria, uniforme, livros didáticos e até custos de transporte.
                              </p>
  
                              <p class="note">
                                 Assumimos que três indivíduos do agregado familiar estão na escola.
                              </p>
  
                <p class="note">
                  <strong>A despesa média com educação situa-se entre 1000MZN e 3000MZN por mês, por criança. Não há uma determinação clara dos custos mensais para uma família que envia os filhos à escola. Provavelmente é sobre transporte, papelaria, etc. - mas existem alguns custos definidos.
                </p>
                <p class="note">
                  Limitamos o controle deslizante a KSH10000 porque é improvável que as famílias estejam dispostas a pagar mais do que isso pelas crianças. Escolas públicas com propinas e escolas privadas podem custar 1000MZN e mais de 3000MZN/mês.
                </p>
                <p class="sources">
                  <strong>Source:</strong> <a href="https://openafrica.net/dataset/cpi_kenya_2018">CPI January 2019, MOZ</a>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
          <!-- Education Panel end -->
  
          <!-- Communication Panel -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">         
          <div class="panel panel-default" id="assumption-7">
            <div class="panel-heading" data-toggle="collapse" data-target="#panel-communication-expenses">
              <h4 class="panel-title">
                <span>
                  7. Custo de comunicações<span id="communication-total" class="pull-right">MZN...</span>
                </span>
              </h4>
            </div>
            <div id="panel-communication-expenses" class="panel-collapse collapse in">
              <div class="panel-body">
  
                              <div class="row">
  
                                  <div class="col-sm-9">
  
                                          <div class="form-group">
                              <label for="communication-cost" class="lead question">Quanto você estima que cada membro da família da sua trabalhadora doméstica gaste em <strong>comunicacao</strong>?</label><br>
                              <p>Estime o custo mensal por pessoa no domicílio::</p>
                              <input
                                  id="communication-cost"
                                  class="slider"
                                  enabled="false"
                                  type="text"
                                  name="communication-cost"
                                  data-slider-min="0"
                                  data-slider-max="1000"
                                  data-slider-step="50"
                                  value="450"
                                  data-slider-value="450"
                                  data-slider-formater="MZN"/>
                            </div>
  
                                    </div>
                                    <div class="col-sm-3 text-center panel-image">
  
                                    <i class="fa fa-mobile fa-3x"></i>
  
                                    </div>
  
                              </div>
  
                  <p class="note">
                   As comunicações são necessárias para manter contato com familiares, amigos, acessar notícias e para emergências.
                  </p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
          <!-- Communication Panel end -->
  
          <!-- Recreation Panel -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">     
          <div class="panel panel-default" id="assumption-8">
            <div class="panel-heading" data-toggle="collapse" data-target="#panel-recreation-expenses">
              <h4 class="panel-title">
                <span>
                  8.  Custo de recreação<span id="recreation-total" class="pull-right">R...</span>
                </span>
              </h4>
            </div>
            <div id="panel-recreation-expenses" class="panel-collapse collapse in">
              <div class="panel-body">
  
                              <div class="row">
  
                                  <div class="col-sm-9">
  
                            <div class="form-group">
                              <label for="recreation-cost" class="lead question">Quanto você estima que cada membro da família gaste em<strong>entretenimento e recreação ?</strong>?</label><br>
                              <p>Estime um custo mensal de recreação por pessoa na família:</p>
                              <input
                                  id="recreation-cost"
                                  class="slider"
                                  enabled="false"
                                  type="text"
                                  name="recreation-cost"
                                  data-slider-min="0"
                                  data-slider-max="2500"
                                  data-slider-step="50"
                                  value="500"
                                  data-slider-value="500"
                                  data-slider-formater="MZN"/>
                            </div>
  
                                    </div>
                                    <div class="col-sm-3 text-center panel-image">
  
                                        <i class="fa fa-futbol-o fa-2x"></i> <i class="fa fa-music fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
  
                                    </div>
  
                              </div>
  
                              <p class="note">
                  É sempre bom tirar uma folga do trabalho e cuidar da casa. Todo mundo precisa de uma pausa!
                </p>
  
              </div>
            </div>
          </div>
        </div>
      </div>
          <!-- Recreation Panel end -->
  
          <!-- Other Panel -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">     
          <div class="panel panel-default" id="assumption-9">
            <div class="panel-heading" data-toggle="collapse" data-target="#panel-other-expenses">
              <h4 class="panel-title">
                <span>
                  9.  Outros custos<span id="other-total" class="pull-right">R...</span>
                </span>
              </h4>
            </div>
            <div id="panel-other-expenses" class="panel-collapse collapse in">
              <div class="panel-body">
  
                              <div class="row">
  
                                  <div class="col-sm-9">
  
                            <div class="form-group">
                              <label for="other-cost" class="lead question">Quanto você estima que sejam outros custos diversos incorridos pela família do seu trabalhador doméstico?</label><br>
                              <input
                                  id="other-cost"
                                  class="slider"
                                  enabled="false"
                                  type="text"
                                  name="other-cost"
                                  data-slider-min="0"
                                  data-slider-max="2000"
                                  data-slider-step="50"
                                  value="350"
                                  data-slider-value="350"
                                  data-slider-formater="MZN"/>
                            </div>
  
                                    </div>
                                    <div class="col-sm-3 text-center panel-image">
  
                                            <i class="fa fa-question fa-3x"></i> 
  
                                    </div>
  
                              </div>
  
                <p class="note">
                    Isso inclui roupas, utensílios domésticos, cuidados pessoais e despesas de emergência. Estime outros custos incorridos por pessoa no agregado familiar.
                </p>
                <p class="note">
                  Isto deve incluir emergências e aquisição de bens duráveis, transporte de bens (garrafas de gás, mantimentos, etc.), custos implícitos e explícitos de gestão doméstica.
                </p>
  
            </div>
          </div>
        </div>
      </div>
          <!-- Other Panel end -->
  
        </div>
  
          <div class="row text-center scroll-top-message">
  
                  <div class="col-sm-8 col-sm-offset-2">
  
                      <p>Com base nos seus dados, calculamos o valor mínimo que você deve pagar ao seu trabalhador doméstico..</p>
                      <p><a href="#results" onclick="javascript: pymChild.scrollParentToChildEl('row_scroll');"><button class="btn btn-primary btn-sm"><i class="fa fa-arrow-circle-up fa-lg"></i>Clique aqui para ver os resultados</button></a></p>
  
                  </div>
  
  
              </div>
  </div>
