<!-- <footer id="footer">
  <div class="text-center">
    <p id="attribution">Brought to you by&nbsp;&nbsp;<a href="https://codeforafrica.org/" target="_blank"><img height="34" src="/img/logos/cfafrica-black.png"></a>.</p>
    <p><i class="fab fa-github"></i> <a target="blank" href="https://github.com/CodeForAfricaLabs/LivingWage.KE">Fork this on GitHub</a></p>
    <div id="tweetBtn">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-text="Você está pagando ao seu trabalhador doméstico um salário digno?" data-via="{{ site.twitter }}" data-hashtags="livingwage">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
</footer> -->
<footer id="footer">
  <div class="footer-main container">
    <div class="row">
      <div class="col-sm-5">
        <p>
          <small>A calculadora de<strong>Salário Condigno</strong> permite que os empregadores calculem se estão a pagar aos seus funcionários um <a href="https://en.wikipedia.org/wiki/Living_wage" target="_blank" rel="noopener noreferrer">salário razoável</a>.</small>
        </p>

    
        <p>
          <small>Este site foi produzido em parceria com <strong><a href="https://codeforafrica.org/" target="_blank">Code for Africa</a>’s iLAB data journalism programme</strong>, com apoio de <strong><a href="https://www.dw.com/en/dw-akademie/about-us/s-9519" target="_blank" rel="noopener">Deutsche Welle Akademie</a></strong>. Todo o conteúdo é lançado sob uma<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener">Licença de atribuição Creative Commons 4</a>.Reutilize-o para ajudar a capacitar sua própria comunidade. O código está disponível em <strong><a href="{{ site.github }}" target="_blank" rel="noopener">GitHub</a></strong> e os dados estão disponíveis em ​<strong><a href="{{ site.openafrica }}" target="_blank" rel="noopener">openAFRICA</a></strong>​.</small>
        </p>
      </div>
      <div class="col-sm-3 text-center">
        <p>...</p>
        <ul class="list-unstyled">
          <li>
            <a href="{{ site.openafrica }}" target="_blank" rel="noopener noreferrer">Dados</a>
          </li>
          <li>
            <a href="{{ site.sourceafrica }}" target="_blank" rel="noopener noreferrer">Documentos</a>
          </li>
          <li>
            <a href="{{ site.afrileaks }}" target="_blank" rel="noopener noreferrer">Envie uma dica</a>
          </li>
        </ul>
        <p>...</p>
        <ul class="list-unstyled">
          <li>
            <a href="{{ site.home }}" target="_blank" rel="noopener noreferrer">Home</a>
          </li>
        </ul>
        <ul class="list-inline">
          <li>
            <a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 logos text-center">
        <a href="https://ammm.org.mz/" target="_blank" rel="noopener"><img src="https://ammm.org.mz/income.jpeg" style="max-height: 80px; margin-top: 10px;"></a><br>
        <a href="https://ammm.org.mz/" target="_blank" rel="noopener"><img src="https://ammm.org.mz/income.jpeg"></a>
        <a href="https://ammm.org.mz/" target="_blank" rel="noopener"><img src="https://ammm.org.mz/income.jpeg"></a>
      </div>
    </div>
  </div> <!-- /.container -->

</footer>
